# Dependency files
*.d

# Object files
*.slo
*.lo
*.o
*.obj

# Precompiled headers
*.gch
*.pch

# Dynamic libraries
*.so
*.dylib
*.dll

# Module files
*.mod
*.smod

# Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Build files
**/build
**/.cache

# LSP files
**/compile_commands.json
compile_commands.json

# Emacs auto-save files
\#*#